asyncpg==0.30.0
aiosqlite==0.21.0
alembic==1.14.1
bcrypt==3.2.2
fastapi==0.115.8
greenlet==3.1.1
httpx==0.28.1
itsdangerous>=2.2.0
Jinja2==3.1.6
passlib==1.7.4
pydantic_settings==2.8.1
pydantic==2.10.6
pytest==8.3.4
pytest-asyncio==0.26.0
python-jose[cryptography]
python-multipart
sqladmin>=0.19.0
SQLAlchemy==2.0.40
ulid-py==1.1.0
uvicorn==0.34.0